<section>
   <div class="ok">
    <div>
        Made with ❤ in Tunis. <br>
        <i class="fa-regular fa-envelope"></i>   support@dabchy.com 

        <i class="fa-thin fa-headphones-simple">   +216-70-108-179</i> 
    </div>
   <div> 
    <button mat-raised-button><i class="fa-brands fa-facebook-f"></i></button>
    <button mat-raised-button><i class="fa-brands fa-instagram"></i></button>
    <button mat-raised-button><i class="fa-brands fa-square-twitter"></i></button>

   </div>
   </div>
   
   <div class="oki">
    <div>COPYRIGHT © 2018. DABCHY.    </div>
    <div>
    <ul>
        <li>A PROPOS</li>
        <li>AIDE</li>
        <li>FAQ</li>
        <li>PRESSE</li>
        <li>CONDITIONS</li>
        <li>CONTACT</li>
    </ul>
</div>
   </div>
</section>