<form>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="ali">
        
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. pat@example.com">
                    </mat-form-field><br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="************************">
                    </mat-form-field><br>
                    <button mat-stroked-button color="primary"><i _ngcontent-serverapp-c102="" class="fa fa-facebook-official margin-right-10"></i> Facebook</button> <br> <br>
    
                    <button mat-raised-button color="primary">Login</button> <a style="text-decoration: none;margin-left: 50px;" routerLink="/register">Don't Have Account ?</a>
    
                </div>
            </mat-card-content>
           
          </mat-card>
          
    </div>
</form>

