<section>
    <div class="title">
        <small style="color: #998a9b">Nos avantages</small>
        <h1 style="color: #633991;font-weight: 600;">Pourquoi Dabchy ?</h1>
    </div>
    <div class="core">
        <mat-card id="c1">
            <mat-card-title style="text-align: center;"><i class="fa-regular fa-face-smile"></i><h4>Réseau social de mode N°1 en Tunisie !</h4></mat-card-title>
            <mat-card-content><p>Profitez de la plus large communauté de femmes fans de mode en Tunisie pour vendre et acheter en toute confiance.</p></mat-card-content>
        </mat-card>
        <mat-card style="margin-right: 25px; margin-left: 25px;" id="c2">
            <mat-card-title style="text-align: center;"><i class="fa-solid fa-truck"></i><h4>Livraison porte à porte</h4></mat-card-title>
            <mat-card-content><p>Finis le casse-tête de la vente à distance. Ne vous déplacez plus, un livreur vient jusqu'en bas de chez vous pour récupérer ou vous livrer un article.</p></mat-card-content>
        </mat-card>
        <mat-card id="c3">
            <mat-card-title style="text-align: center;"><i class="fa-solid fa-lock"></i><h4>Protection & Sécurité</h4></mat-card-title>
            <mat-card-content><p>Vos paiements en ligne ou en cash sont sécurisés par Dabchy. Et si l'article n'est pas conforme, le remboursement est garanti et le retour offert !</p></mat-card-content>
        </mat-card>
    </div>
</section>
