<section>
    <div class="title">
        <small style="color: #998a9b">Fonctionnement</small>
        <h1 style="color: #633991;font-weight: 600;">Comment ça marche</h1>
    </div>
    <div class="core">
       <div >
        <span>
           <p class="arr d1" id="d1">1</p>
           <div style="margin-top: 10px; margin-left: 5px;">

               <h5>Ajoutez un article</h5>
               <p>Ajoutez quelques photos, la description, le prix et en moins de 30 secondes, votre dressing est en <br> ligne disponible à la vente pour des milliers de Dabchouchas.</p>
        </div>
     </span>
        <span>
           <p class="arr d1" id="d2">2</p>
           <div style="margin-top: 10px; margin-left: 5px;">

               <h5>Livrez</h5>
               <p>Emballez votre article et laissez un petit mot sympa. Un livreur viendra récupérer le colis <br> directement depuis chez vous.</p>
            </div>
        </span>
        <span>
           <p class="arr d1" id="d3">3</p>
           <div style="margin-top: 10px; margin-left: 5px;">

               <h5>Encaissez</h5>
               <p>24h après la livraison de l'article, vous recevrez automatiquement votre argent sur votre compte <br> bancaire ou sur votre carte e-dinar.</p>
            </div>
        </span>
        <span>
            <p class="arr" id="d4">4</p>
            <div style="margin-top: 10px; margin-left: 5px;">

                <h5>Achetez</h5>
                <p>A votre tour, dénichez de très beaux articles directement dans les dressings d'autres femmes et <br> faites vous livrer chez vous en toute sécurité.</p> 
            </div>
        </span>
       </div>
       <div style="width: 400px;"><img src="https://www.dabchy.com/assets/images/ccm-1.png" alt=""></div>
    </div>
</section>
