<section>
  <div class="title">
    <small style="color: #998a9b">Shopping</small>
    <h1 style="color: #633991;font-weight: 600;">Découvrez nos nouveautés!</h1>
  </div>
  
  
  <div class="core">
    <mat-tab-group animationDuration="0ms" style="width: 70%;">
      <mat-tab  label="First" >
        <ng-template mat-tab-label>
          <img height="40px" src="https://www.dabchy.com/assets/images/kinds/kind-icon-3.svg" alt="male">
          Homme
        </ng-template>
        <div style="width: auto; height: auto;">
          <H2>Votre petit bout de chou mérite le meilleur !          </H2>
        <p style="font-size: 16px;font-weight: 300;color: #e38cb7;margin-bottom: 32px;">D'autres Mamans partagent les dressings de leurs garçons, profites-en !        </p>
        <p style="color: #959094;font-weight: 600;">Dabchy Kids est une communauté de centaines de milliers de Mamans fans de mode. Elles partagent les dressings de leurs petits bouts de chou à des prix très attractifs. Cliquez sur l'une des catégories ci-dessous pour commencer l’expérience.</p>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-1.png" width="50%" height="50%">  <br><p> Basic</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="	https://www.dabchy.com/assets/images/categories/cat-icon-2.png" width="50%" height="50%"> <br><p>  Basi</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-3.png" width="50%" height="50%">  <br><p> Basic</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-4.png" width="50%" height="50%">  <br><p> Basic</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="	https://www.dabchy.com/assets/images/categories/cat-icon-5.png" width="50%" height="50%"> <br><p>  Basi</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-6.png" width="50%" height="50%">  <br><p> Basic</p></button>

        </div>
      </mat-tab>
      <mat-tab label="Second">
        <ng-template mat-tab-label>
          <img height="40px" src="https://www.dabchy.com/assets/images/kinds/kind-icon-1.svg" alt="male">
          Femme
        </ng-template>
        <div style="width: auto; height: auto;">
          <H2>La meilleure expérience shopping, à des prix imbattables!</H2>
        <p style="font-size: 16px;font-weight: 300;color: #e38cb7;margin-bottom: 32px;">Consultez les derniers articles postés sur Dabchy, et vivez une nouvelle expérience de shopping entre fans de mode en Tunisie.</p>
        <p style="color: #959094;font-weight: 600;">Dabchy est une communauté de centaines de milliers de femmes fans de mode. Elles partagent à la fois leurs dressings mais aussi tous leurs univers avec de superbes looks trendy. Cliquez sur l'une des catégories ci-dessous pour commencer l'expérience</p>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-1.png" width="50%" height="50%">  <br><p> Basic</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="	https://www.dabchy.com/assets/images/categories/cat-icon-2.png" width="50%" height="50%"> <br><p>  Basi</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-3.png" width="50%" height="50%">  <br><p> Basic</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-4.png" width="50%" height="50%">  <br><p> Basic</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="	https://www.dabchy.com/assets/images/categories/cat-icon-5.png" width="50%" height="50%"> <br><p>  Basi</p></button>
        <button mat-stroked-button style="height: 70%;"> <img src="https://www.dabchy.com/assets/images/categories/cat-icon-6.png" width="50%" height="50%">  <br><p> Basic</p></button>

        </div>
      
      
      </mat-tab>
      
    </mat-tab-group>
    
  </div>
</section>