<section class="ali">

    <div style="margin-top: 120px;">
        <h1>Achetez et vendez <br>
            vos vêtements  <br>
            sans bouger de chez vous. <br> </h1>
            <p>La seule application qui vous permet de gagner de l'argent <br> en vendant vos vêtements et d'en acheter de nouveaux à <br> moins 70%</p>
            <button mat-stroked-button color="white"><i _ngcontent-serverapp-c102="" class="fa fa-comment-o margin-right-10"></i> ENVOYER LE LIEN PAR SMS</button>
    
    </div>
    <div>
    <img src="https://www.dabchy.com/assets/images/iphonex.png" alt="taswira mtaa talifoun">
    </div>
</section>
<section class="ali1">
    <div class="col-12 col-sm-4">
        <img src="https://www.dabchy.com/assets/images/milestone-dabchoucha.svg" width="130" height="150" title="Dabchouchas" alt="Dabchouchas" class="milestone-icon" loading="lazy" fetchpriority="auto" src="https://www.dabchy.com/assets/images/milestone-dabchoucha.svg">
        <h3 class="cen" >+700k</h3>
        <h4 class="cen" >Dabchouchas</h4>
    </div>
    <div class="col-12 col-sm-4">
        <img src="https://www.dabchy.com/assets/images/milestone-article.svg" width="130" height="150" title="Dabchouchas" alt="Dabchouchas" class="milestone-icon" loading="lazy" fetchpriority="auto" src="https://www.dabchy.com/assets/images/milestone-article.svg">
        <h3 class="cen" >+2M</h3>
        <h4 class="cen" >Articles en vente</h4>
    </div>
    <div class="col-12 col-sm-4">
        <img src="https://www.dabchy.com/assets/images/milestone-download.svg" width="130" height="150" title="Dabchouchas" alt="Dabchouchas" class="milestone-icon" loading="lazy" fetchpriority="auto" src="https://www.dabchy.com/assets/images/milestone-download.svg">
        <h3 class="cen" >+500k</h3>
        <h4 class="cen" >Téléchargements</h4>
    </div>
</section>
